.vscode/**
.vscode-test-web/**
src/**
out/**
node_modules/**
.gitignore
.gitmodules
vsc-extension-quickstart.md
webpack.config.js
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.DS_store

.github/

!node_modules/emulators*/package.json
!node_modules/emulators*/dist/*.*
**/test/

web/
!web/dist/index.js

dev/

emu
!emu/dosbox
!emu/dosbox_x
!emu/msdos_player
